@import "color.css";

* {
    font-family: FiraCode Nerd Font;
    font-size: 11px;
    font-weight: 700;
    border-radius: 4px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.9);
}

tooltip {
    background: @surface0;
    border: 1px solid @blue;
}

#workspaces button label {
    color: @subtext0;
}

#workspaces button.focused label {
    color: @blue;
}

#workspaces {
    background-color: rgba(30, 30, 46, 0.95);
}

#workspaces button {
    background-color: transparent;
    padding: 0px;
    color: @blue;
    transition: all 0.3s ease;
    border: 0;
}

#workspaces button.focused {
    background: transparent;
    transition: all 0.3s ease;
    border: 0;
}

#custom-power,
#clock,
#cpu,
#memory,
#pulseaudio,
#tray {
    padding: 4px 10px;
    background-color: rgba(30, 30, 46, 0.95);
}

#clock {
    color: @lavender;
}

#pulseaudio {
    color: @sapphire;
    border-radius: 4px 0 0 4px;
    margin-left: 5px;
}

#cpu {
    color: @green;
    border-radius: 0;
}

#memory {
    color: @peach;
    border-radius: 0 4px 4px 0;
    margin-right: 5px;
}

#custom-power {
    font-size: 18px;
    color: @base;
    background-color: @red;
    margin-left: 5px;
    padding: 5px 12px 5px 8px;
}

#mpris.player {
    background-color: rgba(30, 30, 46, 0.95);
    font-size: 16px;
    font-weight: normal;
    padding: 0px 5px;
    margin-right: 0px;
    margin-left: 5px;
    border-radius: 4px 0 0 4px;
}

#mpris.prev {
    background-color: rgba(30, 30, 46, 0.95);
    font-size: 16px;
    font-weight: normal;
    padding: 0px 5px;
    margin-right: 0px;
    border-radius: 0;
}

#mpris.status {
    background-color: rgba(30, 30, 46, 0.95);
    font-weight: normal;
    padding: 0px 5px;
    margin-right: 0px;
    border-radius: 0;
}

#mpris.next {
    background-color: rgba(30, 30, 46, 0.95);
    font-size: 16px;
    font-weight: normal;
    padding: 0px 5px;
    margin-right: 0px;
    border-radius: 0 4px 4px 0;
    margin-right: 5px;
}

#mpris.spotify {
    color: #1ed760;
}

#mpris.firefox {
    color: #ee8424;
}
