@import "color.css";

window#waybar,
tooltip,
#workspaces,
#workspaces button,
#workspaces button label,
#mpris,
#network,
#pulseaudio,
#cpu,
#memory,
#clock,
#custom-power {
    all: initial;
    font-family: FiraCode Nerd Font;
    font-size: 11px;
    font-weight: 700;
    border-radius: 5px;
}

window#waybar {
    color: @text;
    background: @base;
}

tooltip {
    background: @surface0;
    border: 1px solid @blue;
}

#workspaces button label {
    color: @subtext0;
}

#workspaces button.active label {
    color: @crust;
}

#workspaces {
    background-color: @crust;
}

#workspaces button {
    background-color: transparent;
    padding: 8px 10px;
    color: @blue;
    transition: all 0.3s ease;
    border: 0;
}

#workspaces button.active {
    background: @blue;
    transition: all 0.3s ease;
    border: 0;
}

#mpris {
    color: @crust;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 5px;
}

#mpris.player {
    font-weight: normal;
    margin-right: 0px;
    margin-left: 5px;
    border-radius: 4px 0 0 4px;
    padding-right: 0px;
}

#mpris.prev {
    margin-right: 0px;
    border-radius: 0;
}

#mpris.status {
    font-size: 11px;
    margin-right: 0px;
    border-radius: 0;
}

#mpris.next {
    margin-right: 0px;
    border-radius: 0 4px 4px 0;
    margin-right: 5px;
}

#mpris.spotify {
    background-color: #1ed760;
}

#mpris.firefox {
    background-color: #ee8424;
}

#network,
#pulseaudio,
#cpu,
#memory,
#clock,
#tray,
#custom-power {
    padding: 2px 10px;
    background-color: @crust;
    margin: 0px 2.5px;
    border-radius: 5px;
}

#clock {
    color: @sapphire;
}

#pulseaudio {
    color: @teal;
    border-radius: 4px 0 0 4px;
    margin-right: 0px;
}

#cpu {
    color: @yellow;
    border-radius: 0;
    margin: 0;
}

#memory {
    color: @maroon;
    border-radius: 0 4px 4px 0;
    margin-left: 0px;
}

#network {
    color: @mauve;
}

#custom-power {
    font-size: 18px;
    color: @crust;
    background-color: @red;
    margin-right: 0px;
    padding: 0px 11px 0px 7px;
}
