* {
    all: initial;
    font-family: Symbols Nerd Font Mono, Iosevka;
    font-size: 16px;
    font-weight: 500;
    color: #e4e3d7;
}

#window {
    margin: 0;
    background: #13140d;
    border-radius: 8px;
    border: 2px solid #bcce80;
}

#input {
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#input:focus {
    border: 0;
}

#outer-box {
    padding: 10px;
}

#img {
    margin-right: 6px;
}

#entry {
    padding: 10px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #1f2019;
}

#text {
    margin: 2px;
}
