* {
  font-family: FiraCode Nerd;
  color: #cdd6f4;
  font-weight: 600;
  background: transparent;
}

#window {
  background: rgba(30, 30, 46, 0.95);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #89b4fa;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 10px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
