* {
  all: initial;
  font-family: Iosevka, Symbols Nerd Font;
  font-size: 16px;
  color: #e2e2e9;
  border-radius: 8px;
  margin: 2px;
  padding: 2px;
  border: 0px;
}

#window {
  margin: 0;
  background: #121318;
  border: 2px solid #b2c5ff;
}

#input {
  margin: 10px;
  padding: 10px;
  background: #1e1f25;
}

#entry:selected {
  background-color: #1e1f25;
  color: #b2c5ff;
}
