* {
  all: initial;
  font-family: Iosevka, Symbols Nerd Font;
  font-size: 16px;
  color: {{colors.on_surface.default.hex}};
  border-radius: 8px;
  margin: 2px;
  padding: 2px;
  border: 0px;
}

#window {
  margin: 0;
  background: {{colors.surface.default.hex}};
  border: 2px solid {{colors.primary.default.hex}};
}

#input {
  margin: 10px;
  padding: 10px;
  background: {{colors.surface_container.default.hex}};
}

#entry:selected {
  background-color: {{colors.surface_container.default.hex}};
  color: @primary;
}
